@import url('https://api.fontshare.com/v2/css?f=manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

    /* --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #4c09b9 50%); original */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #41d1ff 50%);
    --vp-home-hero-image-filter: blur(40px);

    --hero-text-gradient-light: linear-gradient(120deg, #bd34fe, #41d1ff);
    --hero-text-gradient-dark: linear-gradient(120deg, white 10%, #41d1ff);

    --card-text-bg-soft: linear-gradient(120deg, rgba(189, 52, 254, 0.3), rgba(65, 209, 255, 0.3));
    --feature-bg-soft: radial-gradient(farthest-corner at top left, rgba(136, 33, 255, 0.5), rgba(0, 168, 255, 0.2));
    --text-box-bg-soft: radial-gradient(circle at left, rgba(189, 52, 254, 0.2), rgba(65, 209, 255, 0.2));

    --vp-button-brand-bg: #02a5dc;
    --vp-button-brand-hover-bg:#f22380;
    /* --vp-button-alt-bg: #bd34fe; */
    --vp-button-alt-hover-bg: #bd34fe;
    --vp-button-alt-hover-text: var(--vp-c-white);
    /* --vp-nav-bg-color: rgba(255, 255, 255, 0.2) !important; */
    --vp-nav-bg-color: transparent;
    --title-alt-light: -webkit-linear-gradient(315deg, #9d50bb, #6e48aa);
    --title-alt-dark: -webkit-linear-gradient(315deg, #f6d365, #fda085);
    }

    /* Custom Dark Scheme */
    html.dark {
      --vp-c-bg: #0d0d0d;
      --vp-c-bg-alt: #121212;
      --vp-c-text-1: #e0e0e0;
      --vp-c-text-2: #d0d0d0;
      
      --vp-c-border: #222222;   
      --vp-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 

      --vp-code-block-bg: #181818; 
      --vp-code-text: #e6e6e6;     
      --vp-code-keyword: #ffcc66; 
      --vp-code-string: #99cc99;   
      --vp-code-comment: #888888;  
      --vp-code-function: #82aaff; 
      --vp-code-variable: #c792ea; 

      --vp-custom-block-tip-bg: var(--vp-c-tip-3);
      --vp-custom-block-info-bg: var(--vp-c-default-2);
      --vp-custom-block-warning-bg: var(--vp-c-warning-2);
      --vp-custom-block-danger-bg: var(--vp-c-danger-3);
      --vp-custom-block-caution-bg: var(--vp-c-caution-2);
      --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
      }

    /* html.dark { */
    /* @media (prefers-color-scheme: dark) {
      :root {
      --vp-c-bg: #0d0d0d;
      --vp-c-bg-alt: #121212;
      --vp-c-text-1: #e0e0e0;
      --vp-c-text-2: #d0d0d0;
      
      --vp-c-border: #222222;   
      --vp-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 

      --vp-code-block-bg: #181818; 
      --vp-code-text: #e6e6e6;     
      --vp-code-keyword: #ffcc66; 
      --vp-code-string: #99cc99;   
      --vp-code-comment: #888888;  
      --vp-code-function: #82aaff; 
      --vp-code-variable: #c792ea; 

      --vp-custom-block-tip-bg: var(--vp-c-tip-3);
      --vp-custom-block-info-bg: var(--vp-c-default-2);
      --vp-custom-block-warning-bg: var(--vp-c-warning-2);
      --vp-custom-block-danger-bg: var(--vp-c-danger-3);
      --vp-custom-block-caution-bg: var(--vp-c-caution-2);
      --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
      }
    } */

    .VPNavBarTitle {
      font-family: 'Comfortaa', sans-serif;
      font-weight: 700;
    }
    .VPImage.logo {
      height: 28px;
      margin: 0 5px 5px;
    }
    .VPNavBarTitle .title {
      font-size: 1.6rem;
    }
    
    html.light .VPNavBar .title {
      color: black;
    }

    html.dark .VPNavBar title {
      color: white;
    }

    .VPHomeHero .name {
      font-family: 'Comfortaa', sans-serif;
      font-size: 2.5rem; 
      font-weight: 900;
	    line-height: 1.5;
      color: white;
    }

    .VPHomeHero .text {
      font-family: 'Manrope', sans-serif;
      font-size: 3.5rem;
      font-weight: 400;
      letter-spacing: -0.05em;
      line-height: 1;
      color: transparent;
      background: var(--hero-text-gradient-light);
      -webkit-background-clip: text;
      background-clip: text;
      display: inline-block;
    }

    html.dark .VPHomeHero .text {
      background: var(--hero-text-gradient-dark);
      -webkit-background-clip: text;
      background-clip: text;
      display: inline-block;
    }

      body {
        /* font-family: 'Inter', sans-serif; */
        overflow-x: hidden;
      }

      /* Custom font body text & justify each*/
      .blog-content {
        font-family: 'Inter', sans-serif; 
      }

      .blog-content p {
        text-align: justify;
        text-justify: inter-word;
        hyphens: auto;
        margin-bottom: 0.5em;
        margin-top: 0.3em;
      }

      .blog-content li {
        text-align: justify;
        text-justify: inter-word;
        hyphens: auto;
        line-height: 1.8;
      }
      .blog-content h2,
      .blog-content h3 {
        margin-bottom: 0.7em ;
        margin-top: 1.2em;
      }

    h1, h2, h3, h4, h5, h6,
    div[class*="vp-doc"] h1, 
    div[class*="vp-doc"] h2, 
    div[class*="vp-doc"] h3, 
    div[class*="vp-doc"] h4, 
    div[class*="vp-doc"] h5, 
    div[class*="vp-doc"] h6 {
      font-family: 'Manrope', sans-serif;
      font-weight: 900;
    }

  /* h1, div[class*="vp-doc"] h1 {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  /* h2, div[class*="vp-doc"] h2 {
    background: -webkit-linear-gradient(120deg, #ffab91, #FF70A6, #667eea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  .title {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .title-alt {
    background: var(--title-alt-light);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  html.dark .title-alt {
    background: var(--title-alt-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* background: -webkit-linear-gradient(315deg, #a1c4fd, #c2e9fb); blue */
  /* background: -webkit-linear-gradient(315deg, #9d50bb, #6e48aa); purple */
  /* background: -webkit-linear-gradient(315deg, #f6d365, #fda085); gold */
  
  .subtitle {
    background: -webkit-linear-gradient(315deg, #9d50bb, #6e48aa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .VPImage.image-src {
    max-width: unset;
    max-height: unset;
    width: 540px;
    height: auto;
  }

  /* Color Background Features Box */
  .VPFeatures .item .VPFeature .box {
    background: #f0f0f0;
    border-radius: 12px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  /* html.dark .VPFeatures .item .VPFeature .box {
    background: var(--feature-bg-soft);
    backdrop-filter: blur(45px);
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  } */

  /* Warna berbeda untuk setiap box */
  .VPFeatures .item:nth-child(1) .box { background-color: rgba(255, 235, 59, 0.2); }
  .VPFeatures .item:nth-child(2) .box { background-color: rgba(76, 175, 80, 0.2); }
  .VPFeatures .item:nth-child(3) .box { background-color: rgba(33, 150, 243, 0.2); }
  .VPFeatures .item:nth-child(4) .box { background-color: rgba(255, 87, 34, 0.2); } 
  .VPFeatures .item:nth-child(5) .box { background-color: rgba(156, 39, 176, 0.2); }
  .VPFeatures .item:nth-child(6) .box { background-color: rgba(120, 120, 120, 0.2); }  

/* ---------------------------------------------------------------------------------------- */

  .VPFeature {
    transition: transform 0.2s ease-in-out;
  }
  
  .VPFeature:hover {
    transform: translateY(-2px);
  }
  
  .responsive-flex {
    display: flex;
    align-items: center;
		justify-content: center;
    gap: 25px;
    flex-direction: row;
  }
  
  .responsive-flex img {
    width: 200px;
    height: auto;
		border-radius: 40%;
  }
  
  .responsive-flex div {
    text-align: center;
  }

  .gallery-content h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -0.05em;
    line-height: 1.3;
    color: transparent;
    background: var(--hero-text-gradient-light);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }

  html.dark .gallery-content h2 {
    background: var(--hero-text-gradient-dark);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .gallery-content p {
    text-align: center;
  }

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }

  .VPNavBar {
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important; /* Untuk Safari */
  }
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

/* Responsive untuk mobile */
@media (max-width: 768px) {

  .VPHero.has-image .tagline {
    margin: 20px auto !important;
  }

  .VPHomeHero .text {
    font-size: 2.5rem; 
  }
  .VPImage.image-src {
    width: 280px;
    height:auto;
  }

  .VPNavBar {
    backdrop-filter: blur(2px) !important;
  }
  .VPNavBar .title {
      font-size: 1.4rem;
  }
  .VPImage.logo {
    margin-bottom: 5px;
    margin-right: 5px;
  }
  .VPLocalNav {
    background-color: transparent !important;
    backdrop-filter: blur(2px) !important;
  }
  .VPNavScreen {
    background-color: transparent !important;
    backdrop-filter: blur(10px) !important;
  }
  .VPNavScreenAppearance {
    background-color: transparent !important;
    border: 1px solid var(--vp-c-divider);
    border-radius: 8px;
    transition: border 0.3s ease;
  }

  .VPSidebar {
    background-color: transparent !important;
    backdrop-filter: blur(5px) !important;
  }
  .VPBackdrop {
    background-color: transparent !important;
  }
  .VPSidebarItem.level-0 .text {
    color: var(--vp-c-success-3) !important;
  }
  .VPSidebarItem.level-1 .text, 
  .VPSidebarItem.level-2 .text,
  .VPSidebarItem.level-3 .text,
  .VPSidebarItem.level-4 .text,
  .VPSidebarItem.level-5 .text 
  {
    color: var(--vp-c-caut-1) !important;
  }
  .VPSidebarItem.level-1.is-active .text {
    color:  #3dd68c !important;
  }
	.VPLocalNav .menu-icon,
  .VPLocalNav .menu-text,
  .VPLocalNavOutlineDropdown .menu-text {
    color: var(--vp-c-text-2) !important;
  }

  html.dark .VPLocalNav .menu-icon,
  html.dark .VPLocalNav .menu-text,
  html.dark .VPLocalNavOutlineDropdown .menu-text {
    color: #3dd68c !important;
  }

  .responsive-flex {
    flex-direction: column;
    gap: 50px;
  }

  .gallery-hero { height: 40vh; }
  .gallery-hero h1 { font-size: 2rem; }
  .gallery-content h2 { font-size: 2rem; }
  .gallery-hero p { font-size: 1rem; }
  .features-container { grid-template-columns: 1fr; }
  .feature-item { max-width: 90%; margin: 0 auto; }
}

/* Profile CSS */

.profile-card {
  background: var(--vp-c-bg-alt);
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem 0;
  transition: transform 0.4s ease-in-out;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  flex: 1;
}

.profile-info h1 {
  background: var(--title-alt-light);
  font-family: 'Comfortaa', sans-serif !important;
  background-clip: text;
  font-size: 2rem;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

html.dark .profile-info h1 {
  background: var(--title-alt-dark);
  font-family: 'Comfortaa', sans-serif !important;
  background-clip: text;
  font-size: 2rem;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

.profile-info p, em {
  margin: 0.5rem 0;
  color: var(--vp-c-text-1);
}

html {
  transition: background-color .25s ease, color .25s ease;
}

@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
    gap: 1rem;

  .profile-info h1 {
    margin-top: -40px;
  }
  }
}
